.homeWork3 {
    width: 250px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background: linear-gradient(to top left, purple, crimson, orangered, gold);
}

span {
    width: 15px;
    margin: 5px;
}

input {
    height: 23px;
    width: 170px;
    color: blueviolet;
}

button {
    margin-right: 0;
    margin-left: 5px;
    padding: 5px;
    background: radial-gradient(circle at 65% 15%, aqua, darkblue);
}